{% extends "static/base.html" %}

{% load staticfiles %}
{% block body %}
<div class="col-sm-6 col-md-4 col-md-offset-4" style="padding-top:4%;">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 style="text-align: center"> Password Change</h1>
        </div> <!-- panel-heading -->
        <div class="panel-body">
            <form role="form" action="{% url 'password_change' %}" method="POST">
            {% csrf_token %}
                <fieldset>
                    <div class="row">
                        <div class="center-block profile-img" style="text-align: center">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x" style="color:#eee;"></i>
                            </span>
                        </div> <!-- center-block -->
                    </div> <!-- row -->
                    <div class="row">
                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                            <p align="center"> {{ request.user.username }}
                                <a href="{{ request.user.email }}">{{ request.user.email }}</a>
                            </p>
                            <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expeditedssl"></i>
                                    </span>
                                    <input class="form-control" placeholder='Old Password' id="id_old_password" name="old_password" type="password">
                                </div> <!-- input-group-addon -->
                                {% if form.old_password.errors %}
                                <div class="alert alert-danger">
                                    <i class='fa fa-warning'></i> {{ form.old_password.errors }}
                                </div> <!-- alert danger -->
                                {% endif %}
                            </div> <!-- input-group -->
                            <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expeditedssl"></i>
                                    </span>
                                    <input class="form-control" placeholder='New Password' id="id_new_password1" name="new_password1" type="password">
                                </div> <!-- input-group-addon -->
                                {% if form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    <i class='fa fa-warning'></i> {{ form.new_password1.errors }}
                                </div> <!-- alert danger -->
                                {% endif %}
                            </div> <!-- input-group -->
                            <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expeditedssl"></i>
                                    </span>
                                    <input class="form-control" placeholder='New Password (again)' id="id_new_password2" name="new_password2" type="password">
                                </div> <!-- input-group-addon -->
                                {% if form.new_password2.errors %}
                                <div class="alert alert-danger">
                                    <i class='fa fa-warning'></i> {{ form.new_password2.errors }}
                                </div> <!-- alert danger -->
                                {% endif %}
                            </div> <!-- input-group -->
                            <br>
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value='Change Password'>
                            </div> <!-- form-group -->
                        </div> <!-- col-sm-12 col-md-10 -->
                    </div> <!-- row -->
                </fieldset>
            </form>
        </div> <!-- panel-body -->
    </div> <!-- panel -->
</div> <!-- col-sm-6 col-md-4 col-md-offset-4 -->
{% endblock body %}