{% extends "static/base_dash.html" %}
{% load staticfiles %}
{% load register_extras %}
{% block body %}

<div class="overlay" id="register_user">
<div class="container container_top">
    <div class="row">
	<div class="col-md-6">

          </div>
    <div class="col-md-6" style="padding-top:150px">
		<div class="row">
				<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover d">
								{% if counter %}
                <div class="alert alert-success" style="text-align: center">
                   Successfully added {{counter}} students.
                </div>
								{% else %}
                <div class="alert alert-danger" style="text-align: center">
                   Some error occured. Please try again :(
                </div>
								{% endif%}
						</table>
				</div><!--table-responsive-->

		</div><!--row-->


			</div>
		</div>
	</div>
	</div>

{% endblock body %}
