{% extends "static/base_dash.html" %}
{% load staticfiles %}
{% load register_extras %}
{% block body %}

<div class="overlay" id="register_user">
<div class="container container_top">
    <div class="row">
    <div class="col-md-6 col-md-offset-4" style="padding-top:4%; text-align:center;" >
 		<div class="content" style="text-align:left" >
            <p class="lead" style=" font-size: 35px; font-weight:350; text-align:center">
              <i class="fa fa-circle-o-notch fa-spin"></i> Bulk upload students! </p>
            <p style="text-align:center">You can upload an .xls file which is of the following format
            <img src="{% static 'images/snapshot2.png' %}"  class="img-rounded img-responsive">
			 </p>

		<form class="form-horizontal well" id="registerForm" method="POST"
	    enctype="multipart/form-data" action="{% url 'upload_students' %}">
	    <fieldset>
	        {% csrf_token %} {% load tz %}
	        {% for field in form.visible_fields %}
	        <div id="div_{{ field.html_name }}"
	            class="form-group{% if field.errors %} has-error{% endif%}">
	            <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">
	                {{ field.label }}
	            </label>
				<div class="col-md-8 cnt-inpt">
					{{ field|addcss:"form-control" }}
					<div class="text-muted pull-right">
	                    <small>{{ field.help_text }}</small>
	                </div> <!-- form-group -->
	                <span class="help-block">
	                    {% for error in field.errors %} {{error }} {% endfor %}
	                </span> <!-- help-block -->
	            </div> <!-- col-sm-4 -->


			</div>
			{% endfor %}
	        {% for hidden in user_form.hidden_fields %} {{ hidden }} {% endfor %}
						<div class="form-group" style="text-align:center">
										 <button type="submit" class="btn btn-success">Upload a file</button>
						 </div> <!-- form-group -->

					 </fieldset>
				</form>
			</div>
		</div>
	</div>
	</div>
	</div>

{% endblock body %}
