{% extends "static/base_dash.html" %}
{% load staticfiles %}
{% block body %}

<div class="container">
    <div class="templatemo-content">
    <div style="padding-top: 15px;">
    <h1 style="text-align: center">Student Registered Successfully!</h1> <br>
    </div><!--page-header-->
    <div class="row">
    <div class="alert alert-success" style="text-align:center">
    Your account is under moderation, you will receive an email upon the verification of
    of your registration details by the managers of the contest. Thank you!
    </div><!--alert alert-success-->
    </div>
  </div>
</div>
{% endblock body %}
